<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062733138551-cqa4t07o8ckpc9uplijbvh271ndd4jum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062733138551-cqa4t07o8ckpc9uplijbvh271ndd4jum</string>
	<key>API_KEY</key>
	<string>AIzaSyDGhCzDd3bQ55a6KAozqUKDLEKNFljjoBs</string>
	<key>GCM_SENDER_ID</key>
	<string>1062733138551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinyuchen.Todo</string>
	<key>PROJECT_ID</key>
	<string>todo-351f0</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-351f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062733138551:ios:0dfdd8dfe01ac9bb6c5472</string>
	<key>DATABASE_URL</key>
	<string>https://todo-351f0.firebaseio.com</string>
</dict>
</plist>